<div class="p-4 space-y-4">
    <h2 class="text-2xl font-bold">Quản lý Đơn hàng</h2>

           <app-common-table [columns]="columns" [data]="data" [showActions]="true" [selectable]="true" (edit)="onEdit($event)"
    (view)="onView($event)" (delete)="onDelete($event)"
    (selectionChange)="onSelectionChange($event)"></app-common-table>
<!--  Phân trang sử dụng component chung -->
<app-pagination [totalItems]="totalItems" [pageSize]="pageSize" [currentPage]="currentPage"
  (pageChange)="onPageChange($event)">
</app-pagination>
    
  </div>
  