/* .breadcrumbs {
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  cursor: default;
}
.breadcrumb-item {
  font-size: 12px;
  line-height: 1.125rem;
  color: #4b5563;
}
.separator {
  color: #d1d5db;
  margin: 0 4px;
}
.breadcrumbs a {
  color: #ee0033;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
} */

.breadcrumb-item {
  font-size: 12px;
  line-height: 1.125rem;
}
 .breadcrumbs a {
  color: black;
  font-size: 12px;
  text-decoration: none;
}
 