<div class="login-container">
  <h2>Đăng nhập</h2>

  <form [formGroup]="formLogin" (ngSubmit)="login()" class="login-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="username" class="form-control" formControlName="username" />
      <div class="error" *ngIf="formLogin.get('username')?.touched && formLogin.get('username')?.hasError('required')">
        <small>Email là bắt buộc!</small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Mật khẩu</label>
      <input type="password" id="password" class="form-control" formControlName="password" />
      <div class="error" *ngIf="formLogin.get('password')?.touched && formLogin.get('password')?.hasError('required')">
        <small>Mật khẩu là bắt buộc!</small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid">Đăng nhập</button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
</div>
