<div class="main-center">
  <div class="top-bar-header">
    <div class="left-colum">
      <div class="breadcrumbs">
        <div class="breadcrumb-item cursor-default breadcrumb-route">
          Trang chủ
        </div>
        <div class="separator">
          <span class="separator-icon pi pi-chevron-right"></span>
        </div>
        <div class="breadcrumb-item cursor-default">
          Người dùng
        </div>
      </div>
      <div class="flex">
        <div class="page-title">
          Thêm mới cá nhân
        </div>
      </div>
    </div>
    <div class="right-column">
      <div class="action-header">
        <button class="p-buttons button" (click)="create()">Thêm mới</button>
      </div>
    </div>
  </div>
  <div class="main-content" style="display: flex;">
    <form [formGroup]="addemployee">
      <div class="advanced-search-layout">
        <div class="grid ng-star-inserted">
          <div class="col-4">
            <label for="">Họ và tên</label>
            <div class="">
              <div class="">
                <p class="">
                  <span class="">
                    <input pInputText formControlName="name" class="form-control">
                    <div *ngIf="submitted && addemployee.controls['name'].errors" class="text-danger">
                    <span *ngIf="addemployee.controls['name'].errors['required']">Họ và tên là bắt buộc.</span> 
      
                    </div>
                  </span>
                 
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="">Chức vụ</label>
            <div class="">
              <div class="">
                <p class="">
                  <span class="">
                    <p-dropdown [options]="listpositions" [(ngModel)]="selectedPosition"
                      [ngModelOptions]="{standalone: true}" optionLabel="name" optionValue="positionId"
                      placeholder="Chọn chức vụ"
                      [style]="{'width':'100%','padding-top': '4px','padding-bottom': '10px'}" [showClear]="true">
                    </p-dropdown>
                    <div *ngIf="submitted && !selectedPosition" class="text-danger">
                      <span>Trạng thái là bắt buộc.</span> 
                    </div> 
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="">Địa chỉ</label>
            <div class="">
              <div class="">
                <p class="">
                  <span class="">
                    <input pInputText formControlName="address" class="form-control">
                    <div *ngIf="submitted && addemployee.controls['address'].errors" class="text-danger">
                      <span *ngIf="addemployee.controls['address'].errors['required']">Địa chỉ là bắt buộc.</span> 
                      </div>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="">Số điện thoại</label>
            <div class="">
              <div class="">
                <p class="">
                  <span class="">
                    <input pInputText formControlName="phone" class="form-control">
                    <div *ngIf="submitted && addemployee.controls['phone'].errors" class="text-danger">
                      <span *ngIf="addemployee.controls['phone'].errors['required']"> Số điện thoại là bắt buộc.</span>
                      <span *ngIf="addemployee.controls['phone'].errors['pattern']"> Số điện thoại sai định dạng.</span> 
                      </div>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="">Email</label>
            <div class="">
              <div class="">
                <p class="">
                  <span class="">

                    <input pInputText formControlName="email" class="form-control">
                    <div *ngIf="submitted && addemployee.controls['email'].errors" class="text-danger">
                      <span *ngIf="addemployee.controls['email'].errors['required']">Email là bắt buộc.</span> 
                      <span *ngIf="addemployee.controls['email'].errors?.['email']">Email không đúng định dạng.</span>
                      </div>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="">Password</label>
            <div class="">
              <div class="">
                <p class="">
                  <span class="">
             
                    <input type="text" formControlName="password" class="form-control">
                    <div *ngIf="submitted && addemployee.controls['password'].errors" class="text-danger">
                      <span *ngIf="addemployee.controls['password'].errors['required']">Mật khẩu là bắt buộc.</span> 
                      </div>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="">Giới tính</label>
            <div class="input-container">
              <div class="p-inputgroup">
                <p class="w-full">
                  <span class="">
                    <p-dropdown [options]="genderOptions" [(ngModel)]="selectedGender"
                      [ngModelOptions]="{standalone: true}" optionLabel="label" optionValue="value"
                      placeholder="Chọn giới tính"
                      [style]="{'width':'100%','padding-top': '4px','padding-bottom': '10px'}" [showClear]="true">
                    </p-dropdown>
                    <div *ngIf="submitted && !selectedGender" class="text-danger">
                      <span>Trạng thái là bắt buộc.</span> 
                    </div> 
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="">Trạng thái</label>
            <div class="">
              <div class="">
                <p class="">
                  <span class="">
                    <p-dropdown [options]="statusOptions" [(ngModel)]="selectedStatus"
                      [ngModelOptions]="{standalone: true}" optionLabel="label" optionValue="value"
                      placeholder="Chọn trạng thái"
                      [style]="{'width':'100%','padding-top': '4px','padding-bottom': '10px'}" [showClear]="true">
                    </p-dropdown>
                    <div *ngIf="submitted && !selectedStatus" class="text-danger">
                      <span>Trạng thái là bắt buộc.</span> 
                    </div> 
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="">Ngày sinh</label>
            <div class="input-container">
              <div class="p-inputgroup">
                <p class="w-full">
                  <span class="">
                    <input type="date" style="width: 100%; height: 40px;" formControlName="birthday" class="form-control">
                    <div *ngIf="submitted && addemployee.controls['birthday'].errors" class="text-danger">
                      <span *ngIf="addemployee.controls['birthday'].errors['required']">Ngày sinh là bắt buộc.</span> 
                      </div> 
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="">Quyền</label>
            <div class="">
              <div class="">
                <p class="w-full">
                  <span class="">
                    <p-dropdown [options]="listrole" [(ngModel)]="selectedrole"
                      [ngModelOptions]="{standalone: true}" optionLabel="name" optionValue="roleid"
                      placeholder="Chọn quyền"
                      [style]="{'width':'100%','padding-top': '4px','padding-bottom': '10px'}" [showClear]="true">
                    </p-dropdown>
                    <div *ngIf="submitted && !selectedrole" class="text-danger">
                      <span>Quyền là bắt buộc.</span> 
                    </div> 
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
          </div>
        </div>
      </div>
    </form>


  </div>